body {
    background-image: url("yashgupta.jpg"); alt: yashgupta;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba( 64, 144, 172, 0.65 );
    color: white;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.icon1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    margin: 4px;
    border-radius: 2px;
    border: 1px;
    background-color: rgba( 64, 144, 172, 0.65 );
}.icon1:hover{
    opacity: 0.75;
    cursor: pointer;
}

input {
    width: 80px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    font-size: 1.15em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 4px;
}
input:focus{
    background-color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.title{
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

}
.icon3{
    border-radius: 2px;
    border: 1px;
    background-color: rgba( 64, 144, 172, 0.65 );
    padding: 8px;
    margin: 4px;
}
.icon3:hover{
    opacity: 0.75;
    cursor: pointer;
}
