body {
    background-image: url("yashgupta.jpg"); alt: yashgupta;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.fixed{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 8px 20px;
    background-color: rgba( 64, 144, 172, 0.65 );
    color: white;
}

.list{
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    margin: 0px;
    margin-left: -38px;

}

.icon1{
    border-radius: 2px;
    border: 1px;
    background-color: rgba( 64, 144, 172, 0.65 );
    padding: 4px;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 8px;
    margin-right: 8px;
    width: fit-content;
}
.icon1:hover{
    opacity: 0.75;
    cursor: pointer;}
.icon2{
    border-radius: 2px;
    border: 1px;
    background-color: rgba( 64, 144, 172, 0.65 );
    padding: 4px;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 8px;
    margin-right: 8px;
    width: max-content;
}
.icon2:hover{
    opacity: 0.75;
    cursor: pointer;
}
input {
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    font-size: 1.15em;
    line-height: 1.4;
    color: white;
    color: black;
}
input:focus{
    background-color: white;
}

.title{
    
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.2em;
    justify-content: space-around;
    width: 280px;
    margin-left: 32px;
}

.icon3{
    border-radius: 2px;
    border: 1px;
    background-color: rgba( 64, 144, 172, 0.65 );
    padding: 8px;
    padding-bottom: 22px;
    margin: 4px;
}
.icons{
    display: inline-flex;
    justify-content: flex-end;
}
.icon3:hover{
    opacity: 0.75;
    cursor: pointer;
}
