body{
    overflow: hidden;
}

.head{
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}
.headin{
    display: flex;
    position: fixed;
    top: 60px;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(131, 194, 194, 0.2);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head1{
    bottom: 0px;
}


.first:hover{
    cursor: pointer;
    opacity: .75;
}
